- provide(:title, 'Kategorien')
- currently_at 'Parkplatz'

.row
  .col-xs-12
    - @categories.each do |c|
      - c.objectives.parked.each do |o|
        = render o

.center
  = link_to 'Archiv', archive_path
  |
  = link_to 'Parkplatz', parked_path
