#interview.modal.fade{:tabindex => "-1", "data-focus-on" => "input:first"}
  .modal-header
    %h4.modal-title Was weisst Du schon alles?
  .modal-body
    .modal-body-content
      %ul
        %li Oeffne den Antwort-Bildschirm und trag eine erste Hypothese ein
        %li Ergaenze Notizen
      %button.btn{"data-dismiss" => "modal", :type => "button"} Close