.bottom-menu
  .container
    .row
      .col-md-9
        %ul.bottom-links
          %li
            = link_to "Help", help_path
          %li
            = link_to "About", about_path
          %li
            = link_to "Admin", admin_path
      .col-md-3
        Proofler by
        %a{:href => "#"} Vedaserve
