%h1 Leo

%p
  %center
    Leo ist eine ganz tolle Software um seine Ziele zu erreichen!

%center
  = link_to('Hier gehts direkt los!', new_user_registration_path, :class => "btn btn-large btn-success")
