<div class="newsletter-box">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <div class="newsletter-intro"><%= I18n.t('pages.dashboard.decide.email.text') %></div>
    <div>
      <hr>
      <form action="https://vedaserve.us6.list-manage.com/subscribe/post?u=d3c39406b3fe4eddbf1f85588&amp;id=8454f70732" method="post" name="mc-embedded-subscribe-form" class="clearfix">
        <div class="input-group">
          <input type="email" name="EMAIL" class="form-control email pull-left" id="mce-EMAIL" placeholder="Deine Email-Adresse" required>
             <span class="input-group-btn">
                <button class="btn btn-subscribe" type="button"  value="Anmelden" name="subscribe" id="mc-embedded-subscribe">Ja, ich will die Proofler-News</button>
              </span>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
