.top {
	margin-top: 100px;
}

.bottom {
	margin-bottom: 100px;
}

.marg {
	margin-top: 40px;
}

.source {
	margin: 2px;
	background: #ddd;
	min-height: 42px;
	vertical-align: center;
	text-align: center;
	border: 1px dotted;
}