<footer class="footer-1 bg-midnight-blue">
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <p class="lead"><b>2015</b> kommt der proofler &reg;</p>
              Mit dem proofler wirst Du Entscheidungen in der Gruppe schneller und besser treffen!


          <div class="social-btns">
            <a href="#">
              <div class="fui-googleplus"></div>
              <div class="fui-googleplus"></div>
            </a>
            <a href="#">
              <div class="fui-facebook"></div>
              <div class="fui-facebook"></div>
            </a>
            <a href="#">
              <div class="fui-twitter"></div>
              <div class="fui-twitter"></div>
            </a>
          </div>

             </div>
            <nav>
              <div class="col-sm-2 col-sm-offset-1">
                <h6>Categories</h6>
                <ul>
                  <li><a href="http://proofler.com">Proofler</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/team">Team</a></li>
                  <li><a href="/kontakt">Kontakt</a></li>
                </ul>
              </div>
              <div class="col-sm-2">
                <h6>Follow Us</h6>
                <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Google+</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="row">
            <div class="col-sm-5 additional-links">
              <a href="/imprint">Impressum</a>
              <a href="/privacy">Datenschutzerklärung</a>
              <a href="/disclaimer">Haftungsausschluss</a>
            </div>
          </div>
        </div>
      </footer>
