<header class="header-3">
  <div class="container">
    <div class="row">
      <nav role="navigation" class="navbar col-sm-12">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button"></button>
          <a href="/" class="brand">
            <img width="50" height="50" alt="" src="/img/logo.jpg">Vedaserve</a>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav pull-left">
            <li><a href="/">HOME</a></li>
            <li><a href="/seminare">SEMINARE</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/team">TEAM</a></li>
            <li><a href="/kontakt">KONTAKT</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="header-background"></div>
</header>


