.row
  .col-lg-6
    .row
      .col-lg-12
        %h4 Implementierte Features
        %ul
          %li 
            Create Decision:
            %ul
              %li Name etc.              
    .row
      .col-lg-12
        %h4 Work in Progress

    .row
      .col-lg-12
        %h4 Fehlende Features

  .col-lg-6
    %h4 Letzte Änderungen
    %tr
      %td 02.12.2014
      %td
        Status Seite gebaut :)
        


