body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:10px;
  width:1024px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:769px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:56px;
  top:21px;
  width:190px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  color:#666666;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:880px;
  top:38px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:730px;
  top:38px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:20px;
  width:39px;
  height:34px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:53px;
  top:42px;
  width:120px;
  height:11px;
  font-family:'Helvetica';
  font-size:9px;
  color:#666666;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:64px;
  width:1024px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1024px;
  height:1px;
}
#u14 {
  position:absolute;
  left:320px;
  top:107px;
  width:230px;
  height:16px;
  font-family:'Helvetica';
  text-decoration:underline;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:530px;
  top:107px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  text-decoration:underline;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:70px;
  top:100px;
  width:240px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:26px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:330px;
  top:235px;
  width:60px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u21 {
  position:absolute;
  left:355px;
  top:210px;
  width:10px;
  height:60px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:14px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u22 {
  position:absolute;
  left:288px;
  top:280px;
  width:143px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:270px;
  top:150px;
  width:180px;
  height:180px;
  font-size:50px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u25 {
  position:absolute;
  left:10px;
  top:82px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:70px;
  top:150px;
  width:180px;
  height:180px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u27 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:330px;
  width:90px;
  height:60px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:61px;
}
#u29 {
  position:absolute;
  left:10px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:160px;
  top:330px;
  width:90px;
  height:60px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:61px;
}
#u31 {
  position:absolute;
  left:10px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:90px;
  top:254px;
  width:150px;
  height:48px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  color:#666666;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:49px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u32_ann {
  position:absolute;
  left:233px;
  top:250px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:160px;
  top:390px;
  width:90px;
  height:60px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:61px;
}
#u35 {
  position:absolute;
  left:10px;
  top:10px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:196px;
  top:411px;
  width:19px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:14px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  height:1px;
}
#u37 {
  position:absolute;
  left:200px;
  top:407px;
  width:10px;
  height:19px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:14px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:19px;
}
#u38 {
  position:absolute;
  left:160px;
  top:430px;
  width:90px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:800px;
  width:1024px;
  height:768px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:769px;
}
#u41 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:56px;
  top:811px;
  width:190px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:880px;
  top:828px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:730px;
  top:828px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:10px;
  top:810px;
  width:39px;
  height:34px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:53px;
  top:832px;
  width:120px;
  height:11px;
  font-family:'Helvetica';
  font-size:9px;
  color:#666666;
  text-align:right;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:854px;
  width:1024px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1024px;
  height:1px;
}
#u54 {
  position:absolute;
  left:320px;
  top:897px;
  width:230px;
  height:16px;
  font-family:'Helvetica';
  text-decoration:underline;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:17px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:530px;
  top:897px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  text-decoration:underline;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:70px;
  top:890px;
  width:240px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  color:#666666;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:26px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:667px;
  top:897px;
  width:93px;
  height:16px;
  font-family:'Helvetica';
  text-decoration:underline;
  color:#666666;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:330px;
  top:1025px;
  width:60px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u63 {
  position:absolute;
  left:355px;
  top:1000px;
  width:10px;
  height:60px;
}
#u63_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u63_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:14px;
}
#u63_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u64 {
  position:absolute;
  left:288px;
  top:1070px;
  width:143px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:17px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:70px;
  top:940px;
  width:180px;
  height:300px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:301px;
}
#u67 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:227px;
  top:940px;
  width:23px;
  height:23px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u69 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:76px;
  top:155px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:80px;
  top:973px;
  width:153px;
  height:94px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:94px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#666666;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u73 {
  position:absolute;
  left:80px;
  top:1207px;
  width:23px;
  height:23px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:217px;
  top:1207px;
  width:23px;
  height:23px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:230px;
  top:152px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_ann {
  position:absolute;
  left:223px;
  top:168px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:667px;
  top:107px;
  width:93px;
  height:16px;
  font-family:'Helvetica';
  text-decoration:underline;
  color:#666666;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:80px;
  top:1079px;
  width:109px;
  height:13px;
  font-family:'Helvetica-Oblique', 'Helvetica';
  font-style:italic;
  font-size:11px;
  color:#999999;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:270px;
  top:940px;
  width:180px;
  height:180px;
  font-size:50px;
  color:#666666;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u84 {
  position:absolute;
  left:10px;
  top:82px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
