<div class="row profiles">

  <div class="col-xs-3 col-xs-offset-1">
    <h4>Pages</h4>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/archive">Archive</a></li>
    </ul>
  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <h4>Follow me</h4>
    <ul>
      <li><i class="fa fa-rss-square fa-fw fa-3"></i><a href="http://feeds.feedburner.com/Leadercraftsmanship" title="rss feed">RSS feed</a></li>
      <li><i class="fa fa-twitter-square fa-fw fa-3"></i><a href="https://twitter.com/LeaderCraftsman" target="_blank" title="Tweet">Twitter</a></li>
      <li><i class="fa fa-facebook-square fa-fw fa-3"></i><a href="https://www.facebook.com/leadercraftsmanship" target="_blank" title="Visit on Facebook">Facebook</a></li>
      <li><i class="fa fa-linkedin-square fa-fw fa-3"></i><a href="http://de.linkedin.com/pub/nils-l%C3%B6we/a5/723/256" target="_blank">LinkedIn</a></li>
      <li><i class="fa fa-google-plus-square fa-fw fa-3"></i><a href="https://plus.google.com/116798588927391607904" rel="publisher">Google+</a></li>
      <li><i class="fa fa-xing-square fa-fw fa-3"></i><a href="http://www.xing.com/profile/Nils_Loewe2" target="_blank" rel="me">XING</a></li>
    </ul>
  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <h4>My Projects</h4>
    <ul>
      <li><a href="https://github.com/NilsLoewe" target="_blank">Software at Github</a></li>
      <li><a href="http://vedaserve.com" target="_blank">Vedaserve</a></li>
      <li><a href="http://leadercraftsmanship.com" target="_blank">leadercraftmanship.com</a></li>
      <li><a href="http://loewe.io" target="_blank">loewe.io</a></li>
    </ul>
  </div>
</div>
