    <div class="row">
      <div class="col-xs-12">
        <div class="footer-text">
        <hr>
        Nordlicht IT GbR - Alter Bahndamm 10b - 24601 Wankendorf - Tel.: 04326-508785 - Fax.: 04326-508786 - eMail: <a href="mailto:kontakt@nordlicht-IT.de">kontakt@nordlicht-it.de</a>
      </div>
    </div>
  </div>

  <div class="footer-bars">
    <div class="row">
      <div class="footer-light">
      </div>
    </div>

    <div class="row">
      <div class="footer-dark">
        Wir vernetzen den Norden | www.nordlicht-it.de
      </div>
    </div>
    
    <div class="row">
      <div class="footer-links">
        <a href="http://www.nordlicht-it.de"> Entwickelt und gehostet von : Nordlicht IT</a> | 
        <a href="http://facebook.com/nordlicht.it" target="_blank">Jetzt auch auf Facebook</a> | 
        <a href="/kontakt/impressum">Impressum </a>
      </div>
    </div>
  </div>
