body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:10px;
  width:1024px;
  height:2090px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2091px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1037px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:56px;
  top:21px;
  width:190px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:880px;
  top:38px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:810px;
  top:38px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:20px;
  width:39px;
  height:34px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:53px;
  top:42px;
  width:120px;
  height:11px;
  font-family:'Helvetica';
  font-size:9px;
  color:#666666;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:64px;
  width:1024px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1024px;
  height:1px;
}
#u13 {
  position:absolute;
  left:50px;
  top:150px;
  width:540px;
  height:340px;
  color:#666666;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:341px;
}
#u14 {
  position:absolute;
  left:2px;
  top:155px;
  width:536px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:53px;
  top:91px;
  width:487px;
  height:39px;
  font-family:'Arial-BoldMT', 'Arial';
  font-weight:700;
  font-size:35px;
  color:#6B6B6B;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:40px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:650px;
  top:172px;
  width:310px;
  height:198px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:199px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:670px;
  top:400px;
  width:220px;
  height:44px;
  color:#666666;
  line-height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:45px;
}
#u20 {
  position:absolute;
  left:10px;
  top:8px;
  width:200px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:307px;
  top:1610px;
  width:410px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial';
  font-weight:700;
  font-size:21px;
  color:#666666;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:25px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:111px;
  top:583px;
  width:379px;
  height:237px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:238px;
}
#u24 {
  position:absolute;
  left:2px;
  top:88px;
  width:375px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:550px;
  top:624px;
  width:300px;
  height:154px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:155px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:110px;
  top:912px;
  width:300px;
  height:154px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:155px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:531px;
  top:870px;
  width:379px;
  height:237px;
  color:#666666;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:238px;
}
#u30 {
  position:absolute;
  left:2px;
  top:104px;
  width:375px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:110px;
  top:1170px;
  width:379px;
  height:237px;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:238px;
}
#u32 {
  position:absolute;
  left:2px;
  top:104px;
  width:375px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:550px;
  top:1212px;
  width:300px;
  height:154px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:155px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:110px;
  top:1560px;
  width:800px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:791px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u36 {
  position:absolute;
  left:552px;
  top:1486px;
  width:220px;
  height:44px;
  color:#666666;
  line-height:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:45px;
}
#u37 {
  position:absolute;
  left:10px;
  top:8px;
  width:200px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:252px;
  top:1486px;
  width:300px;
  height:44px;
  font-family:'Helvetica';
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:70px;
  top:1673px;
  width:860px;
  height:337px;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:338px;
}
#u41 {
  position:absolute;
  left:2px;
  top:154px;
  width:856px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:20px;
  top:2110px;
  width:260px;
  height:22px;
  font-family:'Helvetica';
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:23px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:764px;
  top:2110px;
  width:260px;
  height:22px;
  font-family:'Helvetica';
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:22px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:23px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:730px;
  top:468px;
  width:100px;
  height:22px;
  font-family:'Helvetica';
  text-decoration:underline;
  color:#666666;
  text-align:center;
  line-height:22px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:570px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
