body {
	font-family:Arial,Tahoma,Verdana,Sans-serif;
	font-size:12px;
	color:#333333;} 
h1 {
	font-family:Arial,Tahoma,Verdana,Sans-serif;
	font-size:18px;
	color:#001d7f;
	margin-bottom:5px;}
a {
	color:#d50017;
	font-weight:bold;
	text-decoration:none;} 
a:hover {
	color:#001d57f;
	font-weight:bold;
	text-decoration:underline;} 
input, textarea, select {
	border-width:1px;
	font-family:Arial,Tahoma,Verdana,Sans-serif;
	font-size:12px;} 
.txtField {
	font-family:Arial,Tahoma,Verdana,Sans-serif;
	font-size:12px;color:#d50017;
	background-color:#FFFFFF;
	border-color:#000000;
	width:180px;} 
.button {
	font-family:Arial,Tahoma,Verdana,Sans-serif;
	font-size:12px;
	color:#FFFFFF;
	background-color:#001d7f;
	cursor:pointer;
	font-weight:bold;} 
.normal {
	font-family:Arial,Tahoma,Verdana,Sans-serif;
	font-size:12px;color:#333333;} 
form {
	margin:0px;} 
img {
	margin:0px;border:0px;} 
p {
	margin:0px;} 
ul {
	margin-top:5px;
	margin-bottom:5px;} 
#page {
	background-image:url('/_gfx/design/bgrepeat.jpg');
	background-repeat:repeat-x;
	background-position:top;
	text-align:center;}
body {
	background-image:url('/_gfx/design/bgrepeat.jpg');
	background-repeat:repeat-x;
	background-position:top;
	background-color:#00196D;
	margin:0px;
	text-align:center;}
#main {
	width:780px;
	background-image:url('/_gfx/design/contentrepeat.jpg');
	margin:0px auto;}
#top {
	height:70px;
	background-image:url('/_gfx/design/top.jpg');}
#content {
	width:573px;
	height:193px;
	text-align:left;
	vertical-align:top;
	background-image:url('/_gfx/design/content.jpg');
	background-repeat:repeat-x;
	background-position:top;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:30px;
	padding-top:280px;}
#left {
	width:px;
	height:503px;
	text-align:left;
	vertical-align:top;
	background-image:url('/_gfx/design/left.jpg');
	background-repeat:repeat-x;
	background-position:top;}
#bottom {
	height:27px;
	background-image:url('/_gfx/design/bottom.jpg');}
#menu {
	width:187px;
	height:320px;
	margin-top:10px;
	margin-left:0px;}
a.sitemap {
	color:#333333;
	font-weight:bold;
	text-decoration:none;} 
a.sitemap:hover {
	color:#333333;
	font-weight:bold;
	text-decoration:underline;} 
a.print {
	color:#333333;
	font-weight:bold;
	text-decoration:none;} 
a.print:hover {
	color:#333333;
	font-weight:bold;
	text-decoration:underline;} 
a.search {
	color:#333333;
	font-weight:bold;
	text-decoration:none;} 
a.search:hover {
	color:#333333;
	font-weight:bold;
	text-decoration:underline;} 
.searchfield {
	color:#333333;
	background-color:#FFFFFF;} 
.date {
	color: #FFFFFF;
	font-weight:bold;}
.menu1div {
	padding-left:45px;
	padding-top:4px;
	padding-top:4px;
	padding-bottom:1px;}
.menu1 {
	font-size:12px;
	color:#001d7f;
	font-weight:bold;
	text-decoration:none;} 
.menu1:hover {
	color:#d50017;
	font-weight:bold;
	text-decoration:none;} 
.menu2div {
	padding-left:55px;
	padding-top:2px;
	padding-top:2px;
	padding-bottom:1px;}
.menu2 {
	font-size:12px;
	color:#001d7f;
	font-weight:normal;
	text-decoration:none;}
.menu2:hover {
	color:#d50017;
	font-weight:normal;
	text-decoration:none;} 
.menu3div {
	padding-left:65px;
	padding-top:4px;
	padding-top:4px;
	padding-bottom:3px;}
.menu3 {
	font-size:12px;
	color:#001d7f;
	font-weight:normal;
	text-decoration:none;} 
.menu3:hover {
	color:#d50017;
	font-weight:normal;
	text-decoration:none;} 
.gallery {
	font-family:Arial,Tahoma,Verdana,Sans-serif;
	font-size:12px;
	color:#333333;
	background-color:;
	border: 1px solid transparent;} 
.galleryImg {
	font-family:Arial,Tahoma,Verdana,Sans-serif;
	font-size:12px;
	color:#333333;
	background-color:;
	border: 1px solid transparent;} 
.galleryBtn {
	font-family:Arial,Tahoma,Verdana,Sans-serif;
	font-size:12px;
	color:#FFFFFF;
	background-color:#333333;
	border: 1px solid transparent;} 
.calenderBorder {
	border:1px solid #7E7564;
	color:#000000;}
.calenderWeek {
	background-color:#9C9388;
	color:#000000;}
.calenderDay {
	background-color:#BAAE9E;
	color:#000000;}
.calenderOver {
	background-color:#7E7564;
	color:#000000;}
