.container
  %h1.text-center Research questions
  .row
    .question.js-animate
      .upper-area
        .front.js-animate-target
          .main
            %p
              Sample question: how much should I charge for a cup of coffee
            %p
              A cup of coffee should be sold no less than $3.5
          .top-right{class: 'js-animate-toggle'}
            .cog

        .back
          %form{ role: 'form' }
            .checkbox
              %label
                %input{ type: 'checkbox', value: '' }
                Web search
            .checkbox
              %labelp
                %input{ type: 'checkbox', value: '' }
                Database search
            %button.btn.btn-primary{class: 'js-animate-toggle'} Submit

      .question-row
        .method
          .content
            %p
              Web search
            %p
              1
        .method
          .content
            %p
              Interview
            %p
              1
      .question-row
        .method
          .content
            %div{style: 'display: table; width: 100%; height: 100%;'}
              %div{style: 'display:table-cell; vertical-align:middle;'}
                %span.glyphicon.glyphicon-plus


    .question.js-animate
      .upper-area
        .front.js-animate-target
          .main
            %p
              How much does each Revenue Stream contribute to overall revenues?
          .top-right{class: 'js-animate-toggle'}
            .cog

        .back
          %form{ role: 'form' }
            .checkbox
              %label
                %input{ type: 'checkbox', value: '' }
                Web search
            .checkbox
              %label
                %input{ type: 'checkbox', value: '' }
                Database search
            %button.btn.btn-primary{class: 'js-animate-toggle'} Submit

      .question-row
        .method
          .content
            %p
              Web search
            %p
              1
        .method
          .content
            %p
              %span.glyphicon.glyphicon-plus
            %p
              Add method

    .clearfix.visible-md.visible-sm


    .question.js-animate
      .upper-area
        .front.js-animate-target
          .main
            %p
              For what value are our customers really willing to pay?
          .top-right{class: 'js-animate-toggle'}
            .cog

        .back
          %form{ role: 'form' }
            .checkbox
              %label
                %input{ type: 'checkbox', value: '' }
                Web search
            .checkbox
              %label
                %input{ type: 'checkbox', value: '' }
                Database search
            %button.btn.btn-primary{class: 'js-animate-toggle'} Submit

      .question-row
        .method
          .content
            %p
              %span.glyphicon.glyphicon-plus
            %p
              Add method

    .question.js-animate
      .upper-area
        .front.js-animate-target
          .main
            %p
              How are they currently paying?
          .top-right{class: 'js-animate-toggle'}
            .cog

        .back
          %form{ role: 'form' }
            .checkbox
              %label
                %input{ type: 'checkbox', value: '' }
                Web search
            .checkbox
              %label
                %input{ type: 'checkbox', value: '' }
                Database search
            %button.btn.btn-primary{class: 'js-animate-toggle'} Submit

      .question-row
        .method
          .content
            %p
              Interview
            %p
              0
        .method
          .content
            %p
              %span.glyphicon.glyphicon-plus
            %p
              Add method

  .row
    .question.js-animate
      .upper-area
        .front.js-animate-target
          .main
            %p
              This should be interesting. Could someone survive inside a
              transporter buffer for 75 years? The look in your eyes, I
              recognize it. You used to have it for me. Did you come
              here for something in particular or just general
              Riker-bashing? You're going to be an interesting
              companion, Mr. Data. Shields up! Rrrrred alert! When has
              justice ever been as simple as a rule book? For an android
              with no feelings, he sure managed to evoke them in others.
          .top-right{class: 'js-animate-toggle'}
            .cog

        .back
          %form{ role: 'form' }
            .checkbox
              %label

                %input{ type: 'checkbox', value: '' }
                Web search
            .checkbox
              %label
                %input{ type: 'checkbox', value: '' }
                Database search
            %button.btn.btn-primary{class: 'js-animate-toggle'} Submit

      .question-row
        .method
          .content
            %p
              Interview
            %p
              0
        .method
          .content
            %p
              %span.glyphicon.glyphicon-plus
            %p
              Add method

    .question
      .upper-area
        .front.text-center
          %p
            %span.glyphicon.glyphicon-plus
          %p Add questions here
