.container
  .row
    %h1.text-center Questions
    .col-sm-6
      %ul
        %li
          How should we treat long questions? Should we only allow a
          maximum number of characters for example 512 characters.
        %li
          What should we do with the height of the content boxes on smaller devices. Should it grow and by what?
        %li
          Hover events don't work on tablets and smart phones. How do we solve this?
