.container
  .row.select
    %h1.text-center Select questions

    .panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a Partners
        .panel-collapse.collapse.in
          .panel-body
            .row
              .question
                .upper-area.question-row
                  .front
                    %p
                      Sample question: how much should I charge for a cup of coffee
                    %p.text-center
                      %span.checkmark

              .question
                .upper-area.question-row
                  .front
                    %p
                      How much does each Revenue Stream contribute to overall revenues?
                    %p.text-center
                      %span.checkmark
              .question
                .upper-area.question-row
                  .front
                    %p
                      For what value are our customers really willing to pay?
                    %p.text-center
                      %span.checkmark
              .question
                .upper-area.question-row
                  .front
                    %p
                      Lalala
                    %p.text-center
                      %span.checkmark
            .row
              .question
                .upper-area.question-row
                  .front
                    %p Foo
                    %p.text-center
                      %span.checkmark

      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a Activities
        .panel-collapse.collapse
          .panel-body
            body bar
