<div class="row profiles">

  <div class="col-xs-3 col-xs-offset-1">
    <h4>Seiten</h3>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/archive">Archiv</a></li>
    </ul>
  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <h4>Social Media</h3>
    <ul>
      <li><a href="https://twitter.com/NilsLoewe" target="_blank" title="Tweet">Twitter</a></li>
      <li><a href="https://www.facebook.com/leadercraftsmanship" target="_blank" title="Visit on Facebook">Facebook</a></li>
      <li><a href="http://de.linkedin.com/pub/nils-l%C3%B6we/a5/723/256" target="_blank">LinkedIn</a></li>
      <li><a href="https://plus.google.com/116798588927391607904" target="_blank" title="Visit on Google+">Google+</a></li>
      <li><a href="http://www.xing.com/profile/Nils_Loewe2" target="_blank" rel="me">XING</a></li>
    </ul>
  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <h4>Meine Projekte</h3>
    <ul>
      <li><a href="https://github.com/NilsLoewe" target="_blank">Projects bei Github</a></li>
      <li><a href="http://vedaserve.com" target="_blank">Vedaserve</a></li>
      <li><a href="http://leadercraftsmanship.com" target="_blank">leadercraftmanship.com</a></li>
      <li><a href="http://loewe.io" target="_blank">loewe.io</a></li>
    </ul>
  </div>
</div>
