<%= form_for(@document_part) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, placeholder: "Add new Paragraph to document..." %>
  </div>
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>
