body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:10px;
  width:1024px;
  height:1140px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:1141px;
}
#u1 {
  position:absolute;
  left:2px;
  top:562px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:56px;
  top:21px;
  width:190px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  color:#666666;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:880px;
  top:38px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:730px;
  top:38px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:20px;
  width:39px;
  height:34px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:53px;
  top:42px;
  width:120px;
  height:11px;
  font-family:'Helvetica';
  font-size:9px;
  color:#666666;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:64px;
  width:1024px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1024px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:768px;
  width:1024px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:14px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1024px;
  height:1px;
}
#u15 {
  position:absolute;
  left:70px;
  top:100px;
  width:240px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  text-decoration:underline;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:26px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:70px;
  top:150px;
  width:900px;
  height:950px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:951px;
}
#u18 {
  position:absolute;
  left:20px;
  top:30px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:938px;
  top:150px;
  width:32px;
  height:32px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:490px;
  top:230px;
  width:460px;
  height:580px;
  font-family:'Arial-BoldMT', 'Arial';
  font-weight:700;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:581px;
}
#u22 {
  position:absolute;
  left:20px;
  top:30px;
  width:430px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:290px;
  top:430px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u23_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:183px;
  height:183px;
}
#u24 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:90px;
  top:230px;
  width:380px;
  height:180px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:181px;
}
#u26 {
  position:absolute;
  left:20px;
  top:30px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:90px;
  top:160px;
  width:620px;
  height:20px;
  font-family:'Arial-ItalicMT', 'Arial';
  font-style:italic;
  color:#666666;
  line-height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:928px;
  top:202px;
  width:22px;
  height:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:882px;
  top:206px;
  width:37px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial';
  font-weight:700;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:914px;
  top:206px;
  width:10px;
  height:15px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u34 {
  position:absolute;
  left:475px;
  top:229px;
  width:10px;
  height:801px;
}
#u34_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u34_end {
  position:absolute;
  left:-5px;
  top:792px;
  width:20px;
  height:14px;
}
#u34_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:801px;
}
#u35 {
  position:absolute;
  left:510px;
  top:377px;
  width:420px;
  height:162px;
  font-family:'Helvetica';
  color:#666666;
  line-height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:163px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:510px;
  top:568px;
  width:420px;
  height:162px;
  font-family:'Helvetica';
  color:#666666;
  line-height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:163px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:90px;
  top:430px;
  width:180px;
  height:180px;
  font-size:50px;
  color:#666666;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u40 {
  position:absolute;
  left:10px;
  top:82px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:150px;
  top:515px;
  width:60px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:14px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u42 {
  position:absolute;
  left:175px;
  top:490px;
  width:10px;
  height:60px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:14px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u43 {
  position:absolute;
  left:108px;
  top:560px;
  width:143px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:293px;
  top:434px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:90px;
  top:202px;
  width:140px;
  height:22px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#666666;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48 {
  position:absolute;
  left:494px;
  top:234px;
  width:453px;
  height:36px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:37px;
}
#u49 {
  position:absolute;
  left:10px;
  top:10px;
  width:433px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:494px;
  top:273px;
  width:453px;
  height:36px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:37px;
}
#u51 {
  position:absolute;
  left:10px;
  top:10px;
  width:433px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:94px;
  top:233px;
  width:365px;
  height:169px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:169px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u53 {
  position:absolute;
  left:510px;
  top:160px;
  width:38px;
  height:20px;
  text-decoration:underline;
  color:#666666;
  line-height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:1180px;
  width:1024px;
  height:1120px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:1121px;
}
#u56 {
  position:absolute;
  left:2px;
  top:552px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:56px;
  top:1191px;
  width:190px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  color:#666666;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:880px;
  top:1208px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:730px;
  top:1208px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:10px;
  top:1190px;
  width:39px;
  height:34px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u65 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:53px;
  top:1212px;
  width:120px;
  height:11px;
  font-family:'Helvetica';
  font-size:9px;
  color:#666666;
  text-align:right;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:1234px;
  width:1024px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1024px;
  height:1px;
}
#u69 {
  position:absolute;
  left:0px;
  top:1938px;
  width:1024px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:14px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1024px;
  height:1px;
}
#u70 {
  position:absolute;
  left:70px;
  top:1270px;
  width:240px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  text-decoration:underline;
  color:#666666;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:26px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:70px;
  top:1320px;
  width:900px;
  height:870px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:871px;
}
#u73 {
  position:absolute;
  left:20px;
  top:30px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:938px;
  top:1320px;
  width:32px;
  height:32px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:490px;
  top:1400px;
  width:460px;
  height:580px;
  font-family:'Arial-BoldMT', 'Arial';
  font-weight:700;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:581px;
}
#u77 {
  position:absolute;
  left:20px;
  top:30px;
  width:430px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:290px;
  top:1600px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u79 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:90px;
  top:1400px;
  width:380px;
  height:180px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:181px;
}
#u81 {
  position:absolute;
  left:20px;
  top:30px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:90px;
  top:1330px;
  width:620px;
  height:20px;
  font-family:'Arial-ItalicMT', 'Arial';
  font-style:italic;
  color:#666666;
  line-height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:21px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:928px;
  top:1372px;
  width:22px;
  height:22px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u85 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:882px;
  top:1376px;
  width:37px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial';
  font-weight:700;
  color:#666666;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:914px;
  top:1376px;
  width:10px;
  height:15px;
}
#u88_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u88_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u88_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u89 {
  position:absolute;
  left:475px;
  top:1399px;
  width:10px;
  height:801px;
}
#u89_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u89_end {
  position:absolute;
  left:-5px;
  top:792px;
  width:20px;
  height:14px;
}
#u89_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:801px;
}
#u90 {
  position:absolute;
  left:510px;
  top:1547px;
  width:420px;
  height:162px;
  font-family:'Helvetica';
  color:#666666;
  line-height:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:163px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:510px;
  top:1738px;
  width:420px;
  height:162px;
  font-family:'Helvetica';
  color:#666666;
  line-height:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:163px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:293px;
  top:1604px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:90px;
  top:1372px;
  width:140px;
  height:22px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#666666;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u97 {
  position:absolute;
  left:494px;
  top:1404px;
  width:453px;
  height:36px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:37px;
}
#u98 {
  position:absolute;
  left:10px;
  top:10px;
  width:433px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:494px;
  top:1443px;
  width:453px;
  height:36px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:37px;
}
#u100 {
  position:absolute;
  left:10px;
  top:10px;
  width:433px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:94px;
  top:1403px;
  width:365px;
  height:169px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:169px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u102 {
  position:absolute;
  left:510px;
  top:1330px;
  width:38px;
  height:20px;
  text-decoration:underline;
  color:#666666;
  line-height:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:90px;
  top:1600px;
  width:180px;
  height:180px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u105 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:247px;
  top:1600px;
  width:23px;
  height:23px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u107 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:115px;
  top:1620px;
  width:100px;
  height:15px;
  color:#666666;
}
#u109 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u110 {
  position:absolute;
  left:115px;
  top:1647px;
  width:130px;
  height:15px;
  color:#666666;
}
#u111 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u110_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u112 {
  position:absolute;
  left:115px;
  top:1675px;
  width:130px;
  height:15px;
  color:#666666;
}
#u113 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u112_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u114 {
  position:absolute;
  left:115px;
  top:1702px;
  width:130px;
  height:15px;
  color:#666666;
}
#u115 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u114_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u116 {
  position:absolute;
  left:115px;
  top:1730px;
  width:130px;
  height:15px;
  color:#666666;
}
#u117 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u116_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u118 {
  position:absolute;
  left:143px;
  top:1758px;
  width:74px;
  height:18px;
  font-family:'Helvetica';
  text-decoration:underline;
  color:#666666;
  text-align:center;
  line-height:18px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:2350px;
  width:1024px;
  height:1230px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:1231px;
}
#u121 {
  position:absolute;
  left:2px;
  top:607px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:56px;
  top:2361px;
  width:190px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  color:#666666;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:880px;
  top:2378px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:730px;
  top:2378px;
  width:120px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:right;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:10px;
  top:2360px;
  width:39px;
  height:34px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u130 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:53px;
  top:2382px;
  width:120px;
  height:11px;
  font-family:'Helvetica';
  font-size:9px;
  color:#666666;
  text-align:right;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:2404px;
  width:1024px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:14px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1024px;
  height:1px;
}
#u134 {
  position:absolute;
  left:0px;
  top:3108px;
  width:1024px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:14px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1024px;
  height:1px;
}
#u135 {
  position:absolute;
  left:70px;
  top:2440px;
  width:240px;
  height:25px;
  font-family:'Helvetica-Bold', 'Helvetica';
  font-weight:700;
  font-size:21px;
  text-decoration:underline;
  color:#666666;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:26px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:70px;
  top:2490px;
  width:900px;
  height:1070px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:1071px;
}
#u138 {
  position:absolute;
  left:20px;
  top:30px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:938px;
  top:2490px;
  width:32px;
  height:32px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u140 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:490px;
  top:2570px;
  width:460px;
  height:580px;
  font-family:'Arial-BoldMT', 'Arial';
  font-weight:700;
  color:#BCBCBC;
  text-align:left;
  line-height:20px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:581px;
}
#u142 {
  position:absolute;
  left:20px;
  top:30px;
  width:430px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:90px;
  top:2970px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u144 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:90px;
  top:2570px;
  width:380px;
  height:180px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:181px;
}
#u146 {
  position:absolute;
  left:20px;
  top:30px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:90px;
  top:2500px;
  width:620px;
  height:20px;
  font-family:'Arial-ItalicMT', 'Arial';
  font-style:italic;
  color:#666666;
  line-height:20px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:21px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:928px;
  top:2542px;
  width:22px;
  height:22px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u150 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:882px;
  top:2546px;
  width:37px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial';
  font-weight:700;
  color:#666666;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:914px;
  top:2546px;
  width:10px;
  height:15px;
}
#u153_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u153_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u153_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u154 {
  position:absolute;
  left:475px;
  top:2569px;
  width:10px;
  height:971px;
}
#u154_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u154_end {
  position:absolute;
  left:-5px;
  top:962px;
  width:20px;
  height:14px;
}
#u154_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:971px;
}
#u155 {
  position:absolute;
  left:510px;
  top:2717px;
  width:420px;
  height:18px;
  font-family:'Helvetica';
  color:#BCBCBC;
  line-height:18px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:19px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:90px;
  top:2770px;
  width:180px;
  height:180px;
  font-size:50px;
  color:#666666;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u158 {
  position:absolute;
  left:10px;
  top:82px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:150px;
  top:2855px;
  width:60px;
  height:10px;
}
#u159_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u159_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:14px;
  height:20px;
}
#u159_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u160 {
  position:absolute;
  left:175px;
  top:2830px;
  width:10px;
  height:60px;
}
#u160_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u160_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:14px;
}
#u160_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u161 {
  position:absolute;
  left:108px;
  top:2900px;
  width:143px;
  height:16px;
  font-family:'Helvetica';
  color:#666666;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:17px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:93px;
  top:2974px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:90px;
  top:2542px;
  width:140px;
  height:22px;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#666666;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u166 {
  position:absolute;
  left:494px;
  top:2574px;
  width:453px;
  height:36px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:37px;
}
#u167 {
  position:absolute;
  left:10px;
  top:10px;
  width:433px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:494px;
  top:2613px;
  width:453px;
  height:36px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:37px;
}
#u169 {
  position:absolute;
  left:10px;
  top:10px;
  width:433px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:94px;
  top:2573px;
  width:365px;
  height:169px;
}
#u170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:169px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u171 {
  position:absolute;
  left:510px;
  top:2500px;
  width:38px;
  height:20px;
  text-decoration:underline;
  color:#666666;
  line-height:20px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:290px;
  top:2770px;
  width:180px;
  height:180px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u173_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:183px;
  height:183px;
}
#u174 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:292px;
  top:2773px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:90px;
  top:630px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u178 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:93px;
  top:634px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:290px;
  top:630px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u182 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:293px;
  top:634px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:90px;
  top:830px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u186 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:93px;
  top:834px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:290px;
  top:830px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u190 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:293px;
  top:834px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:90px;
  top:1800px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u194 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:93px;
  top:1804px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:290px;
  top:1800px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u198 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:293px;
  top:1804px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:90px;
  top:2000px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u202 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:93px;
  top:2004px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:290px;
  top:2000px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u206 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:293px;
  top:2004px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:290px;
  top:2970px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u210 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:293px;
  top:2974px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:90px;
  top:3170px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u214 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:93px;
  top:3174px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:290px;
  top:3170px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u218 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:293px;
  top:3174px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:90px;
  top:3370px;
  width:180px;
  height:180px;
  text-align:left;
  line-height:20px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u222 {
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:93px;
  top:3374px;
  width:113px;
  height:13px;
  font-family:'Helvetica';
  font-size:11px;
  color:#999999;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:510px;
  top:3040px;
  width:420px;
  height:10px;
}
#u225_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u225_end {
  position:absolute;
  left:411px;
  top:-5px;
  width:14px;
  height:20px;
}
#u225_line {
  position:absolute;
  left:0px;
  top:5px;
  width:420px;
  height:1px;
}
#u226 {
  position:absolute;
  left:650px;
  top:3100px;
  width:140px;
  height:30px;
  color:#666666;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u227 {
  position:absolute;
  left:10px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:510px;
  top:3070px;
  width:420px;
  height:20px;
  font-family:'Arial-ItalicMT', 'Arial';
  font-style:italic;
  color:#666666;
  text-align:center;
  line-height:20px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:21px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:305px;
  top:3610px;
  width:350px;
  height:40px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:41px;
}
#u231 {
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  word-wrap:break-word;
}
