.question.column
  .upper-area
    .front
      .main.panel
        .panel-heading
          %h3.panel-title= link_to 'Add new questions', select_research_path, class: 'new_question'
        .panel-body
          %i Select predefined questions and add own questions
