.row
  .col-lg-12.dmc-heading
    =link_to(image_tag("logo.png"), root_path)
    .pull-right
      = link_to('Funktionen', '#', :class => "header-link")
      = link_to('Preise', '#', :class => "header-link")
      = link_to('Konto erstellen', '#', :class => "header-link")
