.alert
  This element is built on top of
  %a{:href => "http://getbootstrap.com/2.3.2/javascript.html#collapse"} Collapse
  from Bootstrap 2.3.2.

.accordion
  %h3 Category 1
  %div
    Content 1
  %h3 Category 2
  %div
    Content 2
  %h3 Category 3
  %div
    Content 3
