.row
  .col-xs-12
    .panel.panel-warning
      .panel-heading
        %h4 Randbedingung xyz
      .panel-body
        .row
          .col-xs-12
            .row.text-center
              Dies ist die Ansicht einer Randbedingung
              %br
              Frage: Was wollen wir hier genau anzeigen?
