.row
  .col-xs-12
    .panel.panel-warning
      .panel-heading
        %h4 Tools
      .panel-body
        .row
          .col-xs-12
            .row.text-center
              Hier sammeln wir die Tools wie den Keyword-Checker etc.
              Frage: Wo wollen wir die Keywords definieren? Ist
              das ein Teil der Tools, oder eher der Quellen?
