.row
  .col-xs-12
    .panel.panel-warning
      .panel-heading
        %h4 {{ cards.choices[optionId] }}
      .panel-body
        .row
          .col-xs-12
            .row.text-center
              Dies ist die Ansicht einer Option
              %br
              Frage: Was wollen wir hier genau anzeigen?
              %br
              Idee: Pro Randbedingung ein Slider um zu wählen, wie gut wir diese Randbedingung erfüllen?
              #slider Slider
