<!DOCTYPE html>
<html lang = "en">

  {% include head.html %}

    <body>

    <div class="container">
      {% include header.html %}

      <div class="row">
        <div class="col-lg-9">
          {{ content }}
        </div>

        <div class="col-lg-3">
          {% include sidebar.html %}
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          {% include profiles.html %}
        </div>
      </div>
    
    </div>

    {% include footer.html %}

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.loewe.io/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.loewe.io/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    </body>
</html>


